chainlit==2.5.5
langchain-core
# langchain-openai
langchain-google-genai
langchain-google-vertexai
langgraph
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
langmem
pandas
openpyxl
pydantic
python-dotenv
psycopg[binary]
asyncpg
google-cloud-storage

